  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="dist/css/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  </head>
  <body>
    <div id="root">
      <header>
          <div class="container">
            <div class="logo">
              <img src="src/img/construction_logo_retina.png" alt="">
            </div>
            <div class="navbar">
              <ul>
                <li  v-for="headerLink in headerLinks">
                  <a href="#">{{headerLink.name}}</a>
                </li>
                <li>
                  <button type="button" name="button">GET QUOTE</button>
                </li>
              </ul>
            </div>
          </div>
        </header>
    <main>
      <div class="fixed">
        <div class="square">
          <i class="fas fa-tablet-alt"></i>
          <span>Demos</span>
        </div>
        <div class="square">
          <i class="fas fa-shopping-cart"></i>
          <span>Buy now</span>
        </div>
      </div>
      <div class="jumbotron">
        <div class="jb-content main-font">
          <h1>building inspiring spaces</h1>
          <h3>We Build Inspiring Residential & Commercial Spaces</h3>
            <div class="jb-btns">
              <button type="button" name="button">explore recent work</button>
              <button type="button" name="button">get a quote today</button>
            </div>
        </div>
      </div>
      <div class="stripe main-font">
        <p>Do You Have A Construction Project We Can Help With?</p>
      </div>
      <div class="halfway-button">
        <button type="button" name="button">get a free quote</button>
      </div>
      <section class="center">
        <p>Specialists In Modern Construction</p>
          <div class="divider"></div>
          <div class="section-text">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</span>
        </div>
        <div class="container">
          <div class="card-wrapper">
            <div class="card">
              <i class="far fa-building"></i>
              <span>Buildings</span>
              <p>Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>

            </div>
            <div class="card">
              <i class="fas fa-sync-alt"></i>
              <span>Renovate</span>
              <p>Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>

            </div>
            <div class="card">
              <i class="fas fa-home"></i>
              <span>Construct</span>
              <p>Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>

            </div>
            <div class="card">
              <i class="fas fa-truck"></i>
              <span>Exclusive</span>
              <p>Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
            </div>
          </div>
        </div>
      </section>
      <div class="rounded-board">
        <div class="rounded-divider-first">

        </div>
          <div class="container">
            <div class="counter-wrapper">
              <div class="counter">
                <i class="fas fa-suitcase"></i>
                <p>3534</p>
                <span>planning applications</span>
              </div>
              <div class="counter">
                <i class="far fa-building"></i>
                <p>896</p>
                <span>completed projects</span>
              </div>
              <div class="counter">
                <i class="fas fa-users"></i>
                <p>172</p>
                <span>trained professionals</span>
              </div>
              <div class="counter">
                <i class="fas fa-globe"></i>
                <p>19</p>
                <span>international offices</span>
              </div>
            </div>
          </div>
          <div class="rounded-divider-second">

          </div>
      </div>
      <section class="center">
        <p>Explore Recent Work</p>
        <div class="divider"></div>
        <div class="section-text">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</span>
        </div>
          <div class="img-wrapper">
            <div class="img-card">
              <img src="src/img/progetto-2.jpg" alt="">
                <div class="img-info">
                  <div class="img-icons">
                    <div class="icon-bg">
                      <i class="fas fa-link"></i>
                    </div>
                    <div class="icon-bg">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <p>florida healt facility</p>
                  <span>commercial</span>
                </div>
            </div>
            <div class="img-card">
              <img src="src/img/progetto-1.jpg" alt="">
              <div class="img-info">
                <div class="img-icons">
                  <div class="icon-bg">
                    <i class="fas fa-link"></i>
                  </div>
                  <div class="icon-bg">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
                <p>florida healt facility</p>
                <span>commercial</span>
              </div>
            </div>
            <div class="img-card">
              <img src="src/img/progetto-3.jpg" alt="">
              <div class="img-info">
                <div class="img-icons">
                  <div class="icon-bg">
                    <i class="fas fa-link"></i>
                  </div>
                  <div class="icon-bg">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
                <p>florida healt facility</p>
                <span>commercial</span>
              </div>
            </div>
          </div>
          <div class="center">
            <button type="button" name="button">view all projects</button>
          </div>
      </section>
      <section class="center" id="bg-grey">
          <p>Our Core Values</p>
          <div class="divider">
          </div>
          <div class="section-text">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</span>
          </div>
          <div class="container">
            <div class="card-wrapper core-values">
              <div class="card">
                <div class="icon-bg-2" id="home">
                  <i class="fas fa-home"></i>
                </div>
                <p class="card-title">Great Services</p>
                  <div class="divider-grey"></div>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia</p>
              </div>
              <div class="card">
                <div class="icon-bg-2" id="sun">
                  <i class="far fa-sun"></i>
                </div>
                <p class="card-title">Highest Standards</p>
                  <div class="divider-grey"></div>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia</p>
              </div>
              <div class="card">
                <div class="icon-bg-2" id="users">
                  <i class="fas fa-users"></i>
                </div>
                <p class="card-title">Professional Team</p>
                  <div class="divider-grey"></div>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia</p>
              </div>
              <div class="card">
                <div class="icon-bg-2" id="lightbulb">
                  <i class="far fa-lightbulb"></i>
                </div>
                <p class="card-title">Creative Solutions</p>
                  <div class="divider-grey"></div>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia</p>
              </div>
            </div>
          </div>
      </section>
      <div class="slider">
        <div class="rounded-divider-first" id="bg-grey">

        </div>
          <div class="container">
            <div v-for="(slider, i) in sliders"class="slider-wrapper" v-if="i == index">
              <h2>Our home owners says</h2>
              <div class="divider"></div>
              <div class="images">
                  <img :src="slider.immagine" alt="">
              </div>
              <div class="slider-text">
                <p>{{slider.frase}}</p>
              </div>
              <div class="slider-name">
                <p>{{slider.nome}}</p>

              </div>
                <div class="nav">
                    <i
                        v-for="(dot, i) in 2"
                        :class="(i == index) ? 'fas fa-circle' : 'far fa-circle' "
                        @click="dots(dot-1)">
                    </i>
                </div>
            </div>
          </div>
          <div class="rounded-divider-second" id="bg-grey">

          </div>
      </div>
      <section class="center" id="bg-grey">
        <p>Latest news</p>
        <div class="divider"></div>
        <div class="section-text">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</span>
        </div>
        <div class="container">
          <div class="img-wrapper">
            <div class="img-card" id="thumbnail">
              <img src="src/img/thumbnail-1.jpg" alt="">
                <div class="img-info">
                  <div class="img-icons">
                    <div class="icon-bg">
                      <i class="fas fa-link"></i>
                    </div>
                    <div class="icon-bg">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <p>florida healt facility</p>
                  <span>commercial</span>
                </div>
                <div class="thumbnail-text">
                  <p>Redeveloping Florida’s Remote Southern Coast</p>
                  <small>December 7th, 2015</small>
                  <div class="divider"></div>
                  <span>Technology is Here to Stay Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus purus nisl, elementum vitae consequat at, tristique ut enim. Sed ut dignissim leo. Nullam sed metus id sapien faucibus rhoncus sed</span>

                </div>
            </div>
            <div class="img-card" id="thumbnail">
              <img src="src/img/thumbnail-2.jpg" alt="">
              <div class="img-info">
                <div class="img-icons">
                  <div class="icon-bg">
                    <i class="fas fa-link"></i>
                  </div>
                  <div class="icon-bg">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
                <p>florida healt facility</p>
                <span>commercial</span>
              </div>
              <div class="thumbnail-text">
                <p>Redeveloping Florida’s Remote Southern Coast</p>
                <small>December 7th, 2015</small>
                <div class="divider"></div>
                <span>Technology is Here to Stay Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus purus nisl, elementum vitae consequat at, tristique ut enim. Sed ut dignissim leo. Nullam sed metus id sapien faucibus rhoncus sed</span>
              </div>
            </div>
            <div class="img-card" id="thumbnail">
              <img src="src/img/thumbnail-3.jpg" alt="">
              <div class="img-info">
                <div class="img-icons">
                  <div class="icon-bg">
                    <i class="fas fa-link"></i>
                  </div>
                  <div class="icon-bg">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
                <p>florida healt facility</p>
                <span>commercial</span>
              </div>
              <div class="thumbnail-text">
                <p>Redeveloping Florida’s Remote Southern Coast</p>
                <small>December 7th, 2015</small>
                <div class="divider"></div>
                <span>Technology is Here to Stay Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus purus nisl, elementum vitae consequat at, tristique ut enim. Sed ut dignissim leo. Nullam sed metus id sapien faucibus rhoncus sed</span>
              </div>
            </div>
          </div>
          <div class="center">
            <button type="button" name="button" style="margin-top: 300px;">view all projects</button>
          </div>
        </div>
      </section>
      <section class="center">
        <p>Trusted Partners</p>
        <div class="divider"></div>
        <div class="section-text">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</span>
        </div>
        <div class="partners">
          <img src="src/img/partner-1.png" alt="">
          <img src="src/img/partner-2.png" alt="">
          <img src="src/img/partner-3.png" alt="">
          <img src="src/img/partner-4.png" alt="">
          <img src="src/img/partner-5.png" alt="">
        </div>
      </section>
      <section class="pre-footer">
          <div class="left">
            <p>Building Inspiring Spaces</p>
            <div class="divider"></div>
            <span>Vivamus sed consectetur tellus dolor sit amet, consectetur adipiscing lorem elit sadip ipsum ets ficilis uns.</span>
          </div>
          <div class="right">
            <button type="button" name="button">GET A FREE QUOTE</button>
            <span>Only takes a few seconds!</span>
          </div>
      </section>
    </main>
    <footer>
      <div class="grey-stripe">

      </div>
      <div class="flexbox">
      <div class="logo-ecc">
        <img src="src/img/footer-logo.png" alt="">
        <div class="logo-info">
          <span>
            We are specialists in the construction of unique and exclusive properties. Our work inspires. We pride ourselves on delivering outstanding quality and design for leading clients across the world.

          </span>
        </div>
      </div>
      <div class="tweets">
        <p>latest tweets</p>
      </div>
      <div class="contacts">
        <p>contact us today</p>
      </div>
      <div class="find-us">
        <p>find us</p>
      </div>
      </div>
    </footer>
  </div>






  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="src/dati.js" charset="utf-8"></script>
  <script src="src/main.js" charset="utf-8"></script>
  </html>
