body{
  font-family: "Raleway";
}

ul{
  list-style: none;
  li{
    display: inline;
  }
}

a{
  text-decoration: none;
}

.container{
  margin: 2% 5%;
}


.main-font{
  font-family: "Raleway";
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#bg-grey{
  background-color: $bg-grey;
}

.divider{
  @include flex-center;
  width: 200px;
  border-top: 2px solid $second-color;
  margin-bottom: 30px;
}
