body{
  font-family: "Raleway";
}

ul{
  list-style: none;
  li{
    display: inline;
  }
}

a{
  text-decoration: none;
}

.container{
  margin: 2% 5%;
}


.main-font{
  font-family: "Raleway";
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
